::-webkit-scrollbar {
width: 7px;
}
::-webkit-scrollbar-thumb {
background-color: #8e2009;
transition: all 0.3s ease;
border-radius: 50px;
}
::-webkit-scrollbar-track {
background-color: #000000;
}
.bgcolor-green {
    background: linear-gradient(180deg, #b2f7c2, #fff);
    border:1px solid #28a745;
    transition: all 0.3s ease;
}
.bgcolor-red {
    background: linear-gradient(180deg, #ffc5ca, #fff);
    border:1px solid #dc3545;
    transition: all 0.3s ease;
}
.bgcolor-blue {
    background: linear-gradient(180deg, #cae2fb, #fff);
    border:1px solid #007bff;
    transition: all 0.3s ease;
}
.bgcolor-gray {
    background: linear-gradient(180deg, #dadada, #fff);
    border:1px solid #949494;
    transition: all 0.3s ease;
}
.pointer-cursor {
    cursor: pointer !important;
}
.outline-0 {
    outline: 0;
}
.dashboard-content {
	/*margin-left: 220px;*/
    padding: 0 30px 20px 30px;
    margin-top:-1rem;
}
.vtl-i {
	vertical-align: initial;
}
.vtl-m {vertical-align: middle;}
.wd-auto {
	width: auto !important;
	display: inline-block !important;
}
.wd-none {width:0 !important;}
.h-50px {min-height: 50px;}
.p-1rem {padding:1rem;}
.p-2rem {padding:2rem;}
.p-3rem {padding:3rem;}
.p-4rem {padding:4rem;}
.p-5rem {padding:5rem;}
.pb_2_25 {padding-bottom: 3.25rem;}
.bt-1 {border-top:1px solid #c8c8c8;}
.bb-1 {border-bottom:1px solid #c8c8c8;}
.bootstrap-select {
    border-radius:4px;
}
div .bootstrap-select .btn.bs-placeholder {
    color: #7b7b7b!important;
}
div .bootstrap-select .btn.bs-placeholder:active, div .bootstrap-select .btn.bs-placeholder:focus, div .bootstrap-select .btn.bs-placeholder:hover {
    color: #000!important;
}
.visacard {
    background: url(../../img/visa.png) no-repeat center center;
    height: 14px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    top: 0.2rem;
    position: relative;
}
.mastercard {
    background: url(../../img/mastercard.png) no-repeat center center;
    height: 14px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    top: 0.2rem;
    position: relative;
}
.discover {
    background: url(../../img/discover.png) no-repeat center center;
    height: 14px;
    width: 30px;
    display: inline-block;
    background-size: cover;
    top: 0.2rem;
    position: relative;
}
.payment-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 14px + 2px);
    padding: 35px 0;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #222;
    /*background-color: #fff;*/
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-bottom: 1px solid #c8c8c8;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
}
/*input {
    background-color: transparent!important;
}*/
.payment-input-select {
    height: fit-content;
    border: 0;
    display: flex;
    align-self: flex-end;
    border-bottom: 1px solid #c8c8c8;
    outline: 0;
    color: #8b8bbc;
    padding: 0.5rem 0;
}
.input-group>.payment-form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.radio.radio-css {
    position: relative;
    line-height: 16px;
    /*padding: 35px 0;*/
}
.responsive-accordion {
    width: 100%;
}
.accordion .caret:before {
    transition: all 0.3s ease;
}
.accordion .collapsed .caret:before {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.responsive-arrow {
    margin-top:5px;
    cursor: pointer;
    display: inline-block;
}
.modal-header .closed {
    background-color: transparent;
    border: 0;
    text-shadow: none;
    line-height: 14px;
    float: right;
    font-size: 1.125rem;
    font-weight: 700;
    color: #000;
    opacity: .5;
    outline: none;
}
.align-item-right {
    flex-direction: column !important;
    align-items: flex-end !important;
    justify-content: center !important;
}
.table-for-search th, .table-for-search td {
    border:0 !important;
}
.table-for-search thead, .table-for-search tfoot {
    border-top:1px solid #c8c8c8;
    border-bottom:1px solid #c8c8c8;
}
#searchValue {
    min-height: 50px;
    border-top:1px solid #c8c8c8;
    border-bottom:1px solid #c8c8c8;
    margin-bottom: 24px!important;
    padding:15px;
    display: flex;
    flex-wrap: wrap;
}
.append-fields {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    padding-top: 4px;
    margin-right: 10px;
}
.append-fields a {
    text-decoration: none;
    color: #fff!important;
    font-family: arial;
}
.credit-card {
    background-image: linear-gradient(-45deg, #277ceb, #007aff);
	background-color: #277ceb;
	min-height: 100px;
	width: 200px; 
    padding:10px;
    color: #fff;
    position: relative;
}
.credit-card code {
    word-break: break-word;
    padding: 2px 4px;
    color: #fff;
    background-color: #222222;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 6px;
}
.customerVaultSearch {
    position: absolute;
    right: 5%;
    top: 25%;
    background:none!important;
    border:none!important;
    outline: none!important;
}
.searchBtnIcon {
    position: absolute;
    right: 5%;
    top: 28%;
    background:none!important;
    border:none!important;
    outline: none!important;
}
.cs-active-tab .active {
    background-color: #e1e1e1!important;
}
.table-hover tbody tr:hover {
    cursor: pointer;
    background-color: #e1e1e1!important;
}
.modal, .modal-open {
    overflow-x: hidden!important;
    overflow-y: auto!important;
}
#mobile_view_img {
    display: none;
}
.logo {
    padding: 0.25rem;
   
}
.logo img {
    width:80%;
}
.logo_link {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    min-height: 50px;
    background-color: #fff;
}
.logo_link i {
    display: flex !important;
    padding: 0 !important;
    background:transparent !important;
}
.dropdown-toggle {
    text-decoration: none !important;
    color: #222;
}
.dropdown-toggle:hover {
    color: #222;
    opacity: .75 !important;
}
.navbar-nav {
    position: relative;
    z-index: 9999;
    padding-bottom: 2rem;
}
.table-font-bold td {
    font-weight: bold !important;
}
.toggle-switch::before, .toggle-switch::after {
    border-radius: 0 !important;
}


/*For Logo Uploading Image Css Start*/
.logo-container {
    position: relative;
    height: 100px;
    display: table;
    width: 100%;
}
.input {
    height: 100%;
}
.hidden,
#uploadImg:not(.hidden) + label {
  display: none;
}

#file {
  display: none;
  margin: 0 auto;
}

#upload {
  position: absolute;
  right: 0;
  top:0%;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(180deg, #cae2fb, #fff);
  border:1px solid #007bff;
  transition: all 0.3s ease;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/*#upload:hover, #upload:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
#upload:active {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}*/
#uploadImg {
    float: left;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/*For Logo Uploading Image Css End*/


.theme-swatches {
    height:50px;
    width:50px;
    border-radius: 25px;
}
.logo-container > label {
    padding: 6%;
    width: 150px;
    height: 150px;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    background-color: #e1e1e1;
}
.wysihtml5-toolbar li:first-child, .wysihtml5-toolbar li:nth-last-child(1), .wysihtml5-toolbar li:nth-last-child(2), .wysihtml5-toolbar li:nth-last-child(4) {
    display: none !important;
}
.fa {
    transition: all 0.3s ease;
}
.collapsed .fa {
    opacity: 1;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.radio_group a label {
    padding: 0.5rem 1rem;
    margin-bottom:0 !important;
    cursor: pointer !important;
}
.radio_group input[type=radio]:checked + label {
    color: #212529;
    background-color: #d5d5d5;
    border-color: #c8c8c8;
}
.radio_group_reverse a label {
    padding: 0.5rem 1rem;
    margin-bottom:0 !important;
    cursor: pointer !important;
}
.radio_group_reverse input[type=radio]:not(:checked) + label {
    color: #212529;
    background-color: #d5d5d5;
    border-color: transparent;
}
.radio_group_reverse .btn {
    
}
.integators {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin:0;
}
.list-style-none li {
    list-style-type: none!important;
}
.checkboxes_tree li {
    list-style-type: none;
    padding: 1rem 0;
    border-bottom:1px solid #f3f3f3;
}
.checkboxes_tree li label {
    margin:0;
}
/*.checkboxes_tree li:nth-child(even) {
    background-color: #f3f3f3;
}

.checkboxes_tree li:nth-child(even) ul {
    background-color: #ffffff;
}*/








.parent {
    padding: 0;
}
.nested {
  display: none;
}

.active {
  display: block;
}